{% extends 'auctionweb/layout.html' %}

{% block head %}
<style>
    .form-add{width: 780px;margin:0 auto;margin-top:20px;}
    .form-add input{margin-left:20px;width:400px}
    .formControl {height:700px}
      .form-group input{
                background-color: #dde3ec;
                 height: 43px;
                  border: 1px solid #dde3ec;
                   box-shadow: none;
                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                     border-color: #F1F3F8;
                      width: 100%;
                   }
</style>
{% endblock %}

{% block content %}
    <div class="alert alert-info form-add">
        <label>提示:add lot information</label>
        <span style="float:right"><input type="button" value="复制表单" id="copyForm" style="width:150px"></span>
    </div>
    <div class="form" id="formControl">
        <form class="form-horizontal" action="." method="POST">
          {% csrf_token %}
          <div id="addForm" class="form-body">
          {% include "auctionweb/commodity/addform.html"%}
          </div>
          <input type="submit" class="btn btn-success" style="margin-left: 160px;" value="提交"/> 
        </form> 
    </div>
{% endblock %}
{% block footer_js %}
    <script>
        $("#formControl").find("input").addClass("form-control")
        //复制表单
        $("#copyForm").on("click", function(){
            $.getJSON("{% url 'aform' %}", function(data){
                if (!data.success){
                    alert(data.error_message);
                    return
                }
                var data = data.data;
                console.log(data);
                $("#addForm").empty().html(data.html)
            })
        })
    </script>
{% endblock %}
