
{% for field in form %}
        <div class="form-group {% if field.errors %} error{% endif %}">
            <label class="col-sm-3 control-label">{{field.label}}</label>
            <div class="col-sm-5 controls">
              {{field}}
              {% if field.errors%}
                {% for error in field.errors%}
                  <span class="help-inline">{{error}}<span>
                {% endfor %}
              {% else %}
                  <span class="help-inline">{{field.help_text|safe}}<span>
              {% endif %}
            </div>
        </div>
{% endfor %}
