
{% extends "auctionweb/layout.html" %}

{% block header_js %}
<style>
    .ceTable{text-align:center}
    .dataTables_wrapper{margin:20px}
    .total{margin-left:17px;}
    .total p{font-size:1.2em}
    .total p span {padding-left:30px}
    .total p label {color: green;}
</style>
{% endblock%}
{% block content %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Product List
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="display" id="finTable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th><span>Customer</span></th>
                    <th><span>Auction</span></th>
                    <th><span>Invoice nu</span></th>
                    <th><span>品种</span></th>
                    <th><span>数量</span></th>
                    <th><span>Commission</span></th>
                    <th><span>A</span></th>
                    <th><span>B</span></th>
                    <th><span>C</span></th>
                    <th><span>D</span></th>
                    <th><span>Paid</span></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        ftable = $("#finTable").DataTable({
            "info": false,
            "searching": false,
            paging: false,
            "ajaxSource":"/invoice/commission/data/",
            "columns":[
                {"data": "customer_id"},
                {"data": "auction"},
                {"data": "auction_invoice"},
                {"data": "goods_type"},
                {"data": "goods_nu"},
                {"data": "commission"},
                {"data": "a_scale"},
                {"data": "b_scale"},
                {"data": "c_scale"},
                {"data": "d_scale"},
                {"data": null}
            ]
        })
    </script>
{% endblock %}
{% block navname %}invoice{% endblock navname %}
