{% extends "auctionweb/layout.html" %}

{% block current %}
    <li> 
        <i class="fa fa-gift"></i>
        <a href="javascript:0">Final-Invoice</a>
    </li>
{% endblock %}

{% block header_js %}
    <style>
        .ceTable{text-align:center}
        .dataTables_wrapper{margin:20px}
    </style>
{% endblock%}
{% block content %}
<div class="well">
    {% for y in auction_year %}   
        <a type="button" class="btn btn-info" {% if year == y %} style="background-color:green"{%endif%} href="?year={{y}}">{{y}}</a>
    {% endfor %}
</div>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> F-INVOICE
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-group accordion" id="accordion1">
            {% for au, val in result.items %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
						<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_{{au}}">
				        auction:{{au}}</a>
					</h4>
                </div>
                <div id="collapse_{{au}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% for ev, invo in val %}
                        <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" href="#collapse_{{au}}_{{ev}}">
                                    event:{{ev}}</a>
                                </h4>
                            </div>
                        </div>
                        <div id="collapse_{{au}}_{{ev}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table cellspacing="0" width="100%" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th><span>发票号</span></th>
                                            <th><span>客户号</span></th>
                                            <th><span>品种</span></th>
                                            <th><span>数量</span></th>
                                            <th><span>生皮总额</span></th>
                                            <th><span>美金总额</span></th>
                                            <th><span>修改次数和时间</span></th>
                                            <th><span>handle</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for invoice_obj in invo %}
                                            <tr class="fvtr" data-id={{invoice_obj.id}}>
                                                {% include "auctionweb/invoice/table_line.html" %}
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="lotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">发票相关的商品信息</h4>
      </div>
      <table style="margin-bottom:20px" class="display" id="lotTable" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th><span>品种</span></th>
            <th><span>性别</span></th>
            <th><span>LOT号</span></th>
            <th><span>客户编号</span></th>
            <th><span>数量</span></th>
            <th><span>敲锤价</span></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        function get_invoice_lot(this_tr, invoice_id){
            $("#lotTable").DataTable().destroy();
            var lotTable = $("#lotTable").DataTable({
                "searching": false,
                "info": false,
                "paging": false,
                "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
                "oTableTools":{
                    "sRowSelect": "multi",
                    "aButtons":[
                        {
                            "sExtends": "text",
                            "sButtonText": "delete commodity",
                            "fnClick": function(nButton, oConfig, oFlash){
                                var ott = TableTools.fnGetInstance("lotTable");
                                var selectAtrs = ott.fnGetSelectedData();
                                if(selectAtrs.length<1){
                                    alert("至少选择一行进行操作")
                                    return false
                                }
                                var all_lot_nu = [];
                                $.each(selectAtrs, function(i, n){
                                    console.log(n)
                                    all_lot_nu.push(n.lot)
                                })
                                $.post("/invoice/modify/lot/"+invoice_id+"/", {data:JSON.stringify(all_lot_nu)}, function(data){
                                    if (!data.success){
                                        var error_message = data.error_message;
                                        if (error_message == 'invoice_obj is not exist'){
                                            this_tr.html('')
                                        }
                                    }else{
                                        $.getJSON("/invoice/tableline/"+invoice_id+"", function(data){
                                            if (data.success){
                                                this_tr.html(data.data)
                                            }else{
                                                var error_message = data.error_message;
                                                if (error_message == 'invoice_obj is not exist'){
                                                    this_tr.html('')
                                                }
                                            }
                                        })
                                       $("#lotModal").find("button[data-dismiss]").trigger("click")
                                    }
                                })
                            }
                        }
                      ]
                  },
                  "ajaxSource":"/invoice/inlot/"+invoice_id+"/",
                  "columns":[
                        {"data": "types"},
                        {"data": "sex"},
                        {"data": "lot"},
                        {"data": "customer_id"},
                        {"data": "number"},
                        {"data": "final_price"},
                   ]
            })
        };
        $(document).delegate(".split", "click", function(event){
           var this_tr = $(event.target).parent().parent(); 
           var invoice_id = this_tr.data("id");
           get_invoice_lot(this_tr, invoice_id);
           $("#lotModal").modal();
        })
    </script>
{% endblock %}
{% block navname %}invoice{% endblock%}
