
{% extends "auctionweb/layout.html" %}

{% block header_js %}
<style>
    .ceTable{text-align:center}
    .dataTables_wrapper{margin:20px}
    .total{margin-left:17px;}
    .total p{font-size:1.2em}
    .total p span {padding-left:30px}
    .total p label {color: green;}
</style>
{% endblock%}
{% block content %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Product List
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="display" id="finTable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th><span>发票号</span></th>
                    <th><span>客户号</span></th>
                    <th><span>品种</span></th>
                    <th><span>数量</span></th>
                    <th><span>生皮总额</span></th>
                    <th><span>美金总额</span></th>
                    <th><span>修改次数和时间</span></th>
                </tr>
            </thead>
        </table>
        <hr/>
        <div class="total">
            <p><label>汇总信息</label><span>客户:12 </span><span>发票数量:2000 </span><span>生皮总额:10000</span> <span>美金总额:3000</span></p>
        </div>
    </div>
</div>
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="lotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">发票相关的商品信息</h4>
      </div>
      <table style="margin-bottom:20px" class="display" id="lotTable" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th><span>品种</span></th>
            <th><span>性别</span></th>
            <th><span>LOT号</span></th>
            <th><span>客户编号</span></th>
            <th><span>数量</span></th>
            <th><span>敲锤价</span></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        function get_invoice_lot(invoice_id){
            var lotTable = $("#lotTable").DataTable({
                "searching": false,
                "info": false,
                "paging": false,
                "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
                "oTableTools":{
                    "sRowSelect": "multi",
                    "aButtons":[
                        {
                            "sExtends": "text",
                            "sButtonText": "delete commodity",
                            "fnClick": function(nButton, oConfig, oFlash){
                                var ott = TableTools.fnGetInstance("lotTable");
                                var selectAtrs = ott.fnGetSelectedData();
                                if(selectAtrs.length<1){
                                    alert("至少选择一行进行操作")
                                    return false
                                }
                                var all_lot_nu = [];
                                $.each(selectAtrs, function(i, n){
                                    console.log(n)
                                    all_lot_nu.push(n.lot)
                                })
                                console.log(all_lot_nu)
                                $.post("/invoice/modify/lot/"+invoice_id+"/", {data:JSON.stringify(all_lot_nu)}, function(data){
                                    if (!data.success){
                                        alert(data.error_message)
                                    }else{
                                       finTable.ajax.reload();
                                       $("#lotModal").find("button[data-dismiss]").trigger("click")
                                    }
                                })
                            }
                        }
                      ]
                  },
                  "ajaxSource":"/invoice/inlot/"+invoice_id+"/",
                  "columns":[
                        {"data": "types"},
                        {"data": "sex"},
                        {"data": "lot"},
                        {"data": "customer_id"},
                        {"data": "number"},
                        {"data": "final_price"},
                   ]
            })
        };
        $.get("{% url 'fvjson' %}", function(data){
            drawTable(data.data);
            var customer_list=[], num=0, shengpi_sum=0, dollar_sum=0;
            for (i in data.data){
                var one_data = data.data[i];
                customer_list.push(one_data.customer_id);
                num += one_data.goods_nu;
                shengpi_sum += one_data.cost_sum;
                dollar_sum +=  one_data.dollar_sum;
            }
            countDraw([$.unique(customer_list).length, num, shengpi_sum, dollar_sum])
        }, "json")
        function drawTable(data){
            var finTable = $("#finTable").DataTable({
                "searching": true,
                //"info": false,
               // "paging": false,
                "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
                data: data,
               // "ajaxSource":"{% url 'fvjson' %}",
                "oTableTools":{
                    "sRowSelect": "single",
                    "aButtons": [
                        {
                            "sExtends": "text",
                            "sButtonText": "view",
                            "fnClick": function(nButton, oConfig, oFlash){
                                var ott = TableTools.fnGetInstance("finTable");
                                console.log(ott)
                                var selectAtrs = ott.fnGetSelectedData();
                                if (selectAtrs.length!=1){
                                    alert("请选择一行进行查看")
                                    return false
                                }
                                $("#lotTable").DataTable().destroy();
                                get_invoice_lot(selectAtrs[0].id)
                                $("#lotModal").modal()
                             }
                        },{
                            "sExtends": "text",
                            "sButtonText": "导出excel",
                            "fnClick": function(nButton, oConfig, oFlash){
                                location.href="/invoice/out/excel";
                             }
                        }
                    ]
                },
                "columns":[
                    {"data": "invoice_nu"},
                    {"data": "customer_id"},
                    {"data": "goods_type"},
                    {"data": "goods_nu"},
                    {"data": "cost_sum"},
                    {"data": "dollar_sum"},
                    {"data": "modify_date", "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                        element = $(nTd).empty();
                        var modify_date = oData["modify_date"];
                        var modify_times = oData["modify_times"];
                        if (modify_date && modify_times){
                            element.append("<span>"+modify_times+"+"+modify_date+"</span>")
                        }
                    }},
                ]
            })
        }
        // 汇总图形部分
        function countDraw(data){
            myChart = echarts.init(document.getElementById("countGraph"))
            option = {
                title : {
                    text: '最终发票汇总信息',
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:["最终发票汇总信息"]
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ["客户", "发票数量", "生皮总额", "美金总额"]
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'发票汇总',
                        type:'bar',
                        barCategoryGap: '80%',
                        itemStyle: {
                            normal: {
                                color: "tomato",
                                label:{
                                    show: true,
                                }
                            }
                        },
                        data: data,
                    },
                ]
            };
            myChart.setOption(option)
        }
    </script>
{% endblock %}
{% block navname %}invoice{% endblock navname %}
