
{% extends "auctionweb/layout.html" %}

{% block header_js %}
<style>
    .ceTable{text-align:center}
</style>
{% endblock%}
{% block content %}
<table class="display" id="preTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th><span>发票号</span></th>
            <th><span>客户号</span></th>
            <th><span>修改次数+时间</span></th>
            <th><span>品种</span></th>
            <th><span>数量</span></th>
            <th><span>美金总额</span></th>
            <th><span>生皮总额</span></th>
            <th><span>拍卖会发票</span></th>
            <th><span>最终汇率</span></th>
        </tr>
    </thead>
</table>

<!-- Modal -->
{% endblock %}
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="lotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">发票相关的商品信息</h4>
      </div>
      <table class="display" id="lotTable" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th><span>品种</span></th>
            <th><span>性别</span></th>
            <th><span>LOT号</span></th>
            <th><span>客户编号</span></th>
            <th><span>数量</span></th>
            <th><span>敲锤价</span></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改初始发票信息</h4>
      </div>
      <div class="form-add well" id="formControl">
        <form class="form-horizontal" action="." method="POST" id="vmodifyForm">
          {% csrf_token %}
          <div id="addForm">
          </div>
          <input type="submit" class="btn btn-success" style="margin-left: 160px;" value="提交"/> 
        </form> 
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        function get_invoice_lot(invoice_id){
            var lotTable = $("#lotTable").DataTable({
                "searching": false,
                "info": false,
                "paging": false,
                "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
                "oTableTools":{
                    "sRowSelect": "multi",
                    "aButtons":[
                        {
                            "sExtends": "text",
                            "sButtonText": "del lot",
                            "fnClick": function(nButton, oConfig, oFlash){
                                var ott = TableTools.fnGetInstance("lotTable");
                                var selectAtrs = ott.fnGetSelectedData();
                                if(selectAtrs.length<1){
                                    alert("至少选择一行进行操作")
                                    return false
                                }
                                var all_lot_nu = [];
                                $.each(selectAtrs, function(i, n){
                                    console.log(n)
                                    all_lot_nu.push(n.lot)
                                })
                                console.log(all_lot_nu)
                                $.post("/invoice/modify/lot/"+invoice_id+"", {data:JSON.stringify(all_lot_nu)}, function(data){
                                    if (!data.success){
                                        alert(data.errors)
                                    }else{
                                        console.log("ok")
                                       // lotTable.row('.selected').remove().draw(false);
                                       $("#lotModal").find("button[data-miss=modal]").trigger("click")
                                    }
                                })
                            }
                        }
                      ]
                  },
                  "ajaxSource":"{% url 'inlot' %}?invoice_id="+invoice_id+"",
                  "columns":[
                 /*       {"data": null, "className": "ceTable", "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                            element = $(nTd).empty();
                            element.append("<input type='checkbox' name='checkList' />");
                        }},*/
                        {"data": "types"},
                        {"data": "sex"},
                        {"data": "lot"},
                        {"data": "customer_id"},
                        {"data": "number"},
                        {"data": "final_price"},
                   ]
            })
        }
        var preTable = $("#preTable").DataTable({
            "searching": true,
            //"info": false,
           // "paging": false,
            "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
            "oTableTools":{
                "sRowSelect": "single",
                "aButtons":[
                    {
                        "sExtends": "text",
                        "sButtonText": "修改发票",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = TableTools.fnGetInstance("preTable");
                            var selectAtrs = ott.fnGetSelectedData();
                            if (selectAtrs.length!=1){
                                alert("请选择一行进行修改")
                                return false
                            }
                           $.getJSON('/invoice/modify/info/'+selectAtrs[0].id+'', function(data){
                                if (data.success){
                                    $("#addForm").empty().html(data.data.html)
                                    $("#modifyModal").modal();
                                    $("#vmodifyForm").ajaxForm({
                                        type: "POST",
                                        data: {"invoice_id": selectAtrs[0].id, "commodity": selectAtrs[0].commodity},
                                        success: function(data){
                                            if (data.success){
                                                preTable.ajax.reload();
                                                $("#modifyModal").find("button[data-dismiss]").trigger("click")
                                            }
                                        }
                                    })
                                }   
                           })
                        }
                    },{
                        "sExtends": "text",
                        "sButtonText": "创建最终发票",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = TableTools.fnGetInstance("preTable");
                            var selectAtrs = ott.fnGetSelectedData();
                            if (selectAtrs.length!=1){
                                alert("请选择一行进行生成")
                                return false
                            }
                            if (!selectAtrs[0].auction_invoice || !selectAtrs[0].final_exchange_rate){
                                alert("发票号和汇率都不能为空")
                                return false
                            }
                            $.getJSON("/invoice/cfinvoice/"+selectAtrs[0].id+"", function(data){
                                if (data.success){
                                    preTable.ajax.reload();
                                    alert("最终发票成功生成");
                                }else{
                                    alert("error: "+data.errors+"")
                                }
                            })
                            
                        }
                    },{
                        "sExtends": "text",
                        "sButtonText": "查看详情",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = TableTools.fnGetInstance("preTable");
                            console.log(ott)
                            var selectAtrs = ott.fnGetSelectedData();
                            if (selectAtrs.length!=1){
                                alert("请选择一行进行查看")
                                return false
                            }
                            $("#lotTable").DataTable().destroy();
                            get_invoice_lot(selectAtrs[0].id)
                            $("#lotModal").modal()
                        }
                    }
                ]
            },
            "ajaxSource":"{% url 'vjson' %}",
            "columns":[
                {"data": "invoice_nu"},
                {"data": "customer_id"},
                {"data": "modify_date", "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                    element = $(nTd).empty();
                    var modify_date = oData["modify_date"];
                    var modify_times = oData["modify_times"];
                    if (modify_date && modify_times){
                        element.append("<span>"+modify_times+"+"+modify_date+"</span>")
                    }
                }},
                {"data": "goods_type"},
                {"data": "goods_nu"},
                {"data": "dollar_sum"},
                {"data": "cost_sum"},
                {"data": "auction_invoice"},
                {"data": "final_exchange_rate"},
            ]
        })
    </script>
{% endblock %}
{% block navname %}invoice{%endblock%}
