
{% extends "auctionweb/layout.html" %}

{% block header_js %}
<style>
   .ceTable{text-align:center}
   .form-group input{
     background-color: #fff;
     height: 34px;
     padding:6px 12px;
     line-height:1.42857413;
     border: 1px solid #e5e5e5;
     box-shadow: none;
     transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
     border-color: #F1F3F8;
     width: 100%;
    }
</style>
{% endblock%}
{% block content %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>
            Product List
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
<table class="display" id="preTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th><span>初始发票号</span></th>
            <th><span>客户号</span></th>
            <th><span>品种</span></th>
            <th><span>数量</span></th>
            <th><span>美金总额</span></th>
            <th><span>生皮总额</span></th>
            <th><span>拍卖会发票</span></th>
            <th><span>最终汇率</span></th>
        </tr>
    </thead>
</table>
</div>
    </div>
<!-- Modal -->
{% endblock %}
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
.dataTables_wrapper{margin:20px}
</style>
<div class="modal fade" id="lotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">发票相关的商品信息</h4>
      </div>
      <table style="margin-bottom:20px" class="display" id="lotTable" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th><span>品种</span></th>
            <th><span>性别</span></th>
            <th><span>LOT号</span></th>
            <th><span>客户编号</span></th>
            <th><span>数量</span></th>
            <th><span>敲锤价</span></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改初始发票信息</h4>
      </div>
      <div class="form" id="formControl">
        <form class="form-horizontal" action="." method="POST" id="vmodifyForm">
          {% csrf_token %}
          <div id="addForm" class="form-body">
          </div>
          <div class="form-actions">
            <div class="row">
                <div class="col-mod-offset-3 col-md-9">
                
                    <input type="submit" class="btn btn-success" style="margin-left: 160px;" value="提交"/> 
                </div>
            </div>
         </div>
        </form> 
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        function get_invoice_lot(invoice_id){
            var lotTable = $("#lotTable").DataTable({
                "searching": false,
                "info": false,
                "paging": false,
                "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
                "oTableTools":{
                    "sRowSelect": "multi",
                    "aButtons":[
                        {
                            "sExtends": "text",
                            "sButtonText": "delete commodity",
                            "fnClick": function(nButton, oConfig, oFlash){
                                var ott = TableTools.fnGetInstance("lotTable");
                                var selectAtrs = ott.fnGetSelectedData();
                                if(selectAtrs.length<1){
                                    alert("至少选择一行进行操作")
                                    return false
                                }
                                var all_lot_nu = [];
                                $.each(selectAtrs, function(i, n){
                                    console.log(n)
                                    all_lot_nu.push(n.lot)
                                })
                                console.log(all_lot_nu)
                                $.post("/invoice/modify/lot/"+invoice_id+"/", {data:JSON.stringify(all_lot_nu)}, function(data){
                                    if (!data.success){
                                        alert(data.error_message)
                                    }else{
                                       $("#lotModal").find("button[data-dismiss]").trigger("click")
                                    }
                                })
                            }
                        }
                      ]
                  },
                  "ajaxSource":"/invoice/inlot/"+invoice_id+"/",
                  "columns":[
                        {"data": "types"},
                        {"data": "sex"},
                        {"data": "lot"},
                        {"data": "customer_id"},
                        {"data": "number"},
                        {"data": "final_price"},
                   ]
            })
        }
        var preTable = $("#preTable").DataTable({
            "searching": true,
            //"info": false,
           // "paging": false,
            "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
            "oTableTools":{
                "sRowSelect": "multi",
                "aButtons":[
                    {
                        "sExtends": "text",
                        "sButtonText": "modify",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = TableTools.fnGetInstance("preTable");
                            var selectAtrs = ott.fnGetSelectedData();
                            if (selectAtrs.length!=1){
                                alert("请选择一行进行修改")
                                return false
                            }
                           $.getJSON('/invoice/modify/info/'+selectAtrs[0].id+'', function(data){
                                if (data.success){
                                    $("#addForm").empty().html(data.data.html)
                                    $("#modifyModal").modal();
                                    $("#vmodifyForm").ajaxForm({
                                        type: "POST",
                                        data: {"invoice_id": selectAtrs[0].id, "commodity": selectAtrs[0].commodity},
                                        success: function(data){
                                            if (data.success){
                                                preTable.ajax.reload();
                                                $("#modifyModal").find("button[data-dismiss]").trigger("click")
                                            }
                                        }
                                    })
                                }   
                           })
                        }
                    },{
                        "sExtends": "text",
                        "sButtonText": "create final invoice",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = TableTools.fnGetInstance("preTable");
                            var selectAtrs = ott.fnGetSelectedData();
                            if (selectAtrs.length<1){
                                alert("请选择至少一条进行生成")
                                return false
                            }
                            var invoice_id_list = [];
                            for (i in selectAtrs){
                                if (!selectAtrs[i].auction_invoice || !selectAtrs[i].final_exchange_rate){
                                    alert("存在拍卖会发票和最终汇率为空的选项");
                                    return false;
                                }else{
                                    invoice_id_list.push(selectAtrs[i].id)
                                }
                            }
                            $.post("{% url 'create_final_invoice' %}", 
                                {data: JSON.stringify(invoice_id_list), "csrfmiddlewaretoken": $("{%csrf_token%}").val()}, function(data){
                                if (data.success){
                                    preTable.ajax.reload();
                                    alert("最终发票成功生成");
                                }else{
                                    alert("error: "+data.errors+"")
                                }
                            })
                            
                        }
                    },{
                        "sExtends": "text",
                        "sButtonText": "view",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = TableTools.fnGetInstance("preTable");
                            console.log(ott)
                            var selectAtrs = ott.fnGetSelectedData();
                            if (selectAtrs.length!=1){
                                alert("请选择一行进行查看")
                                return false
                            }
                            $("#lotTable").DataTable().destroy();
                            get_invoice_lot(selectAtrs[0].id)
                            $("#lotModal").modal()
                        }
                    }
                ]
            },
            "ajaxSource":"{% url 'vjson' %}",
            "columns":[
                {"data": "invoice_nu"},
                {"data": "customer_id"},
                {"data": "goods_type"},
                {"data": "goods_nu"},
                {"data": "dollar_sum"},
                {"data": "cost_sum"},
                {"data": "auction_invoice"},
                {"data": "final_exchange_rate"},
            ]
        })
    </script>
{% endblock %}
{% block navname %}invoice{%endblock%}
