{% extends "auctionweb/layout.html" %}
{% block header_js %}
    <style>
        .ceTable{text-align:center}
    </style>
{% endblock%}
{% block content %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>
            Ship List
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="display" id="ship" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th><span>Order No</span></th>
                    <th><span>拍卖会</span></th>
                    <th><span>数量</span></th>
                    <th><span>原始发票总额</span></th>
                    <th><span>国外货运公司</span></th>
                    <th><span>地接公司</span></th>
                    <th><span>清关公司</span></th>
                    <th><span>主单号</span></th>
                    <th><span>分单号</span></th>
                    <th><span>件数</span></th>
                    <th><span>计费重量</span></th>
                    <th><span>起飞日期</span></th>
                    <th><span>落地日期</span></th>
                    <th><span>货运状态</span></th>
                    <th><span>清关日期</span></th>
                    <th><span>清关状态</span></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}
<!-- Modal -->
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="shipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加货运相关公司</h4>
      </div>
        <form class="form-horizontal" role="form" id="addShipForm" method="POST"> 
          {% csrf_token %}
          <div class="modal-body">
                <div class="form-body" style="padding-bottom:0px">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">国外货运公司</label>
                        <div class="col-sm-9"> 
                            <select id="foreign_ship" name="foreign_ship" class="form-control">
                                {% for fship in foreign_ship %}
                                    <option>{{fship.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">主单号</label>
                        <div class="col-sm-9"> 
                            <input id="master_nu" name="master_nu" class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">分单号</label>
                        <div class="col-sm-9"> 
                            <input id="branch_nu" name="branch_nu" class="form-control" type='text'/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">件数</label>
                        <div class="col-sm-9"> 
                            <input id="ship_num" name="ship_num" class="form-control" type='text'/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">计费重量</label>
                        <div class="col-sm-9"> 
                            <input id="charge_weight" name="charge_weight" class="form-control" type='text'/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">起飞日期</label>
                        <div class="col-sm-9"> 
                            <input id="takeoff_time" name="takeoff_time" class="form-control" type='text'/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">落地日期</label>
                        <div class="col-sm-9"> 
                            <input id="arrive_time" name="arrive_time" class="form-control" type='text'/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">清关日期</label>
                        <div class="col-sm-9"> 
                            <input id="clear_time" name="clear_time" class="form-control" type='text'/>
                        </div>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="shipSubmit">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
    </div>
  </div>
</div>
<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">货运相关的发票信息</h4>
      </div>
      <table style="margin-bottom:20px" class="display" id="invoice" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th><span>拍卖会</span></th>
            <th><span>Invoice No</span></th>
            <th><span>Customer No</span></th>
            <th><span>数量</span></th>
            <th><span>原始发票金额</span></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        $("#delivery_company").select2();
        $("#clearance_company").select2();
        $("#harbour").select2();
        $("#takeoff_time").datepicker({dateFormat: "yy-mm-dd"});
        $("#arrive_time").datepicker({dateFormat: "yy-mm-dd"});
        $("#clear_time").datepicker({dateFormat: "yy-mm-dd"});
        function create_in_table(ship_nu){
            var invoice = $("#invoice").DataTable({
                "paging": false,
                "searching": false,
                "info": false,
                "ajaxSource":"/shiping/invoice/"+ship_nu+"/",
                "columns": [
                    {"data": "auction"},
                    {"data": "invoice_nu"},
                    {"data": "customer_id"},
                    {"data": "goods_num"},
                    {"data": "invoice_count"},
                ]
            })
        }
        var ship = $("#ship").DataTable({
            "searching": true,
            "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
            "oTableTools":{
                "sRowSelect": "multi",
                "aButtons":[
                    {
                        "sExtends": "text",
                        "sButtonText": "add info",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = TableTools.fnGetInstance("ship");
                            var selectAtrs = ott.fnGetSelectedData();
                            if(selectAtrs.length!=1){
                                alert("请选择一行进行添加!!!")
                                return 
                            }
                            $("#shipModal").modal();
                            var select_ship_id =selectAtrs[0].id;
                            $("#addShipForm").ajaxForm({
                                type: "post",
                                url: "/shiping/ship/info/"+select_ship_id+"/",
                                success: function(data){
                                    if (!data.success){
                                        alert("failed!!!")
                                        return
                                    }
                                    ship.ajax.reload()
                                    $("#shipModal").find("button[data-dismiss]").trigger("click")
                                }
                            })
                            
                        }
                    },{
                        "sExtends": "text",
                        "sButtonText": "view",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = TableTools.fnGetInstance("ship");
                            var selectAtrs = ott.fnGetSelectedData();
                            if(selectAtrs.length!=1){
                                alert("请选择一行进行查看!!!")
                                return 
                            }
                            $("#invoiceModal").modal();
                            $("#invoice").DataTable().destroy();
                            create_in_table(selectAtrs[0].id);
                        }
                    },{
                        "sExtends": "text",
                        "sButtonText": "导出excel",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = TableTools.fnGetInstance("ship");
                            var selectAtrs = ott.fnGetSelectedData();
                            var id_array = []
                            if (selectAtrs.length==0){
                                id_array = ["all"]
                            }else{
                                for (i in selectAtrs){
                                    id_array.push(selectAtrs[i].id)
                                }
                            }
                            $.ajax({
                                type: "post",
                                url: "/shiping/export/excel/",
                                data: {data:JSON.stringify({
                                    "id_lis": id_array, 
                                    }),
                                    "csrfmiddlewaretoken": $("{%csrf_token%}").val()},
                                success: function(data){
                                    if (data.success){
                                        location.href = "/shiping/export/excel/"
                                    }
                                }
                            })
                        }
                    }
                ]
            },
            "ajaxSource":"{% url 'ship_data' %}",
            "columns":[
                {"data": "shiping_nu"},
                {"data": "auction_name"},
                {"data": "com_num"},
                {"data": "invoice_count"},
                {"data": "foreign_ship"},
                {"data": "delivery_company"},
                {"data": "clearance_company"},
                {"data": "master_nu"},
                {"data": "branch_nu"},
                {"data": "ship_num"},
                {"data": "charge_weight"},
                {"data": "takeoff_time"},
                {"data": "arrive_time"},
                {"data": "ship_status"},
                {"data": "clear_time"},
                {"data": "clear_status"},
            ]
        })
        // 根据checkbox 选中列
        $("#usInvoice").on('click','tr input[name="checkList"]',function(){
            var $tr =$(this).parents('tr');
            $tr.toggleClass('selected');
        })
    </script>
{% endblock %}
{% block navname %}shipping{% endblock %}

