{% extends "auctionweb/layout.html" %}
{% block header_js %}
    <style>
        .ceTable{text-align:center}
    </style>
{% endblock%}
{% block content %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>
            Unshipped Invoice List
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="display" id="usInvoice" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width:100px;text-align:center"><span>选择</span></th>
                    <th><span>拍卖会</span></th>
                    <th><span>时间</span></th>
                    <th><span>Invoice No</span></th>
                    <th><span>Customer No</span></th>
                    <th><span>数量</span></th>
                    <th><span>原始发票金额</span></th>
                    <th><span>削皮场</span></th>
                    <th><span>地接公司</span></th>
                    <th><span>清关公司</span></th>
                    <th><span>到港</span></th>
                    <th><span>毛重</span></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}
<!-- Modal -->
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="shipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加货运相关公司</h4>
      </div>
        <form class="form-horizontal" role="form" id="addShipForm" method="POST"> 
          {% csrf_token %}
          <div class="modal-body">
                <div class="form-body" style="padding-bottom:0px">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">地接公司</label>
                        <div class="col-sm-9"> 
                            <select id="delivery_company" name="delivery_company" class="form-control">
                                {% for delivery in delivery_obj %}
                                    <option>{{delivery.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">清关公司</label>
                        <div class="col-sm-9"> 
                            <select id="clearance_company" name="clearance_company" class="form-control">
                                {% for clear in clearance_obj %}
                                <option>{{clear.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">到港</label>
                        <div class="col-sm-9"> 
                            <select id="harbour" name="harbour" class="form-control">
                                {% for har in harbour %}
                                <option>{{har.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">毛重</label>
                        <div class="col-sm-9"> 
                            <input type="text" name="not_net_weight" class="form-control">
                        </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="shipSubmit">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        $("#delivery_company").select2();
        $("#clearance_company").select2();
        $("#harbour").select2();
        var usinvoice = $("#usInvoice").DataTable({
            "searching": true,
            "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
            "oTableTools":{
                "aButtons":[
                    {
                        "sExtends": "text",
                        "sButtonText": "add company",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = usinvoice.row(".selected")
                            if(ott.length<1){
                                alert("至少选择一列!")
                            }else{
                                var ott = usinvoice.rows(".selected");
                                var invoice_id_arr = [];
                                $.each(ott.data(), function(i, n){
                                    invoice_id_arr.push(n.id)
                                })
                                $("#shipModal").modal();
                                $("#addShipForm").ajaxForm({
                                    url: "{% url 'add_ship_com' %}",
                                    data: {"invoice_id_list": JSON.stringify(invoice_id_arr)},
                                    success: function(data){
                                        if (!data.success){
                                            alert("failed!!!")
                                        }else{
                                            $("#shipModal").find("button[data-dismiss]").trigger("click");
                                            usinvoice.ajax.reload();
                                        }
                                    }
                                })
                            }
                            
                        }
                    },{
                        "sExtends": "text",
                        "sButtonText": "create shipping",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = usinvoice.row(".selected")
                            if(ott.length<1){
                                alert("至少选择一列!")
                            }else{
                                var ott = usinvoice.rows(".selected")
                                var clearance = [];//清关公司
                                var delivery = []; //地接公司
                                var harbour = []; //港口
                                var peel = []; // 削皮场
                                var auction = [] //拍卖场
                                var invoice_id_arr = [];
                                var can_create = true;
                                $.each(ott.data(), function(i, n){
                                    if (n.clearance_company=="" || n.delivery_company=="" || n.harbour==""){
                                        can_create = false;
                                    }
                                    clearance.push(n.clearance_company);
                                    delivery.push(n.delivery_company);
                                    harbour.push(n.harbour);
                                    auction.push(n.auction);
                                    peel.push(n.peel);
                                    invoice_id_arr.push(n.id);
                                })
                                if (!can_create){alert("请添加货运相关公司");return}
                                if ($.unique(clearance).length!==1 && $.unique(delivery).length!=1 && $.unique(harbour)!=1 && $.unique(peel)!==1&&$.unique(auction)){
                                    alert("拍卖场、清关公司、削皮场、地接公司、港口相同才能生成同一货运!!!");
                                    return 
                                }
                                $.post("{% url "create_ship" %}", 
                                    {"invoice_id_list":JSON.stringify(invoice_id_arr), "csrfmiddlewaretoken": $("{%csrf_token%}").val()},
                                    function(data){
                                        if (!data.success){
                                            alert("failed!!!")
                                        }else{
                                            alert("success!!!")
                                            usinvoice.ajax.reload();
                                        }
                                        
                                    })
                            }
                        }
                    }
                ]
            },
            "ajaxSource":"{% url 'unshipped_data' %}",
            "columns":[
                {"data": null, "className": "ceTable", "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                    element = $(nTd).empty();
                    element.append("<input type='checkbox' name='checkList' />");
                }},
                {"data": "auction"},
                {"data": "modify_date"},
                {"data": "invoice_nu"},
                {"data": "customer_no"},
                {"data": "goods_nu"},
                {"data": "dollar_sum"},
                {"data": "peel_name"},
                {"data": "delivery_company"},
                {"data": "clearance_company"},
                {"data": "harbour"},
                {"data": "not_net_weight"}
            ]
        })
        // 根据checkbox 选中列
        $("#usInvoice").on('click','tr input[name="checkList"]',function(){
            var $tr =$(this).parents('tr');
            $tr.toggleClass('selected');
        })
    </script>
{% endblock %}
{% block navname %}shipping{% endblock %}

