
{% extends "auctionweb/layout.html" %}

{% block header_js %}
    <style>
        .ceTable{text-align:center}
    </style>
{% endblock%}
{% block content %}
<div class="alert alert-info">
    <a type="button" class="btn btn-success" href="{% url 'cadd' %}">create new lot</a>
    <a type="button" class="btn btn-default" id="cInvoice" data-target="#myModal" data-toggle="modal">create new invoice</a>
</div>
<hr>
<table class="display" id="lotTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width:100px;text-align:center"><span>生成发票</span></th>
            <th><span>品种</span></th>
            <th><span>性别</span></th>
            <th><span>LOT号</span></th>
            <th><span>客户编号</span></th>
            <th><span>尺码</span></th>
            <th><span>等级</span></th>
            <th><span>颜色</span></th>
            <th><span>清晰度</span></th>
            <th><span>数量</span></th>
            <th><span>敲锤价</span></th>
            <th><span>评估</span></th>
            <th><span>备注</span></th>
         <!--   <th><span>操作</span></th>-->
        </tr>
    </thead>
 <!--   <tbody>
        {% for comm in c_list %}
        <tr data-lotnu='{{comm.lot}}'>
            <td style="text-align:center"><input type="checkbox"/></td>
            <td>{{comm.types}}</td>
            <td>{{comm.sex}}</td>
            <td>{{comm.lot}}</td>
            <td>{{comm.customer_id}}</td>
            <td>{{comm.size}}</td>
            <td>{{comm.level}}</td>
            <td>{{comm.color}}</td>
            <td>{{comm.definition}}</td>
            <td>{{comm.number}}</td>
            <td>{{comm.final_price}}</td>
            <td>{{comm.evaluation}}</td>
            <td>{{comm.remarks}}</td>
            <td>
                 <a class="btn btn-mini btn-warning" style="color:#FFF;"
                     href="#">修改</a>
                 <a class="btn btn-mini btn-danger" style="color:#FFF;"
                     href="#">删除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    -->
</table>

<!-- Modal -->
{% endblock %}
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">填写初始汇率</h4>
      </div>
        <form class="form-horizontal" role="form" action="{% url 'cinvoice' %}" id="voaddForm"> 
      <div class="modal-body">
            <div class="form-body" style="padding-bottom:0px">
                <div class="form-group">
                    <label class="col-sm-3 control-label">初始汇率</label>
                    <div class="col-sm-9"> 
                        <input type="text" name="newRate" class="form-control" placeholder="must"/>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save and create invoice</button>
      </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        $("#lotTable").dataTable({
            "searching": true,
            //"info": false,
           // "paging": false,
            "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
            "oTableTools":{
                "sRowSelect": "single",
                "aButtons":[
                    {
                        "sExtends": "text",
                        "sButtonText": "add lot"
                    }
                ]
            },
            "ajaxSource":"{% url 'alist' %}",
            "columns":[
                {"data": null, "className": "ceTable", "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                    element = $(nTd).empty();
                    element.append("<input type='checkbox'/>");
                }},
                {"data": "types"},
                {"data": "sex"},
                {"data": "lot"},
                {"data": "customer_id"},
                {"data": "size"},
                {"data": "level"},
                {"data": "color"},
                {"data": "definition"},
                {"data": "number"},
                {"data": "final_price"},
                {"data": "evaluation"},
                {"data": "remarks"},
            ]
        })
        $("#cInvoice").on("click", function(){
            var all_checked_lotnu = [];
            $("#lotTable tbody input").each(function(i, n){
                var is_checked = $(this).is(':checked');
                if (is_checked){
                    all_checked_lotnu.push($(this).parent().parent().attr("data-lotnu"))
                }
            })
            $("#voaddForm").ajaxForm({
                type: "post",
                dataType: "json",
                data: {"all_lot_nu": all_checked_lotnu.join(",")},
                beforeSubmit: function(arr, $from, options){
                    if (!arr[0].value){
                        alert("初始汇率不能为空");
                        return false
                    }
                },
                success: function(data){
                    if(data.data.success){
                        alert("发票已成功生成")
                    }else{
                        alert("发票添加失败")
                    }
                    $("#myModal").find("button[data-dismiss]").trigger("click")
                }
            })
        })
    </script>
{% endblock %}

