<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- BEGIN HEAD -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8"/>
<title>Aution Management System</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="jannel" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->

<link href="/static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="/static/assets/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/static/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="/static/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<!-- BEGIN DATATABLE STYLE -->
<link href="/static/assets/plugins/datatables/jquery.dataTable.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/plugins/datatables/dataTable.TableTools.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/plugins/select2/select2.css" rel="stylesheet" type="text/css"/>
<!-- END DATATABLE STYLE -->
<link rel="shortcut icon" href="favicon.ico"/>
    <style>
        .row{margin-left:0px;margin-right:0px;}
    </style>
{% block header_js %}
{% endblock %}
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content page-full-width">
<!-- BEGIN HEADER -->
<div class="page-header -i navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="index.html">
				<img src="/static/assets/admin/layout/img/image.png" alt="logo" class="logo-default"/>
			</a>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN HORIZANTAL MENU -->
		<div class="hor-menu hor-menu-light hidden-sm hidden-xs">
			<ul class="nav navbar-nav">
				<li class="classic-menu-dropdown" id="nav-commodity">

                    <a href="{% url 'clist'%}">
                    <i class="fa fa-gift"></i>
					Commodity<span class="selected">
					</span>
					</a>
				</li>
				<li class="classic-menu-dropdown" id="nav-invoice">
					<a data-toggle="dropdown" href="{% url 'fvlist' %}">
						<i class="fa fa-file-o"></i>
						Invoice <i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu pull-left">
						<li>
							<a href="{% url 'vlist' %}">
							<i class="fa fa-bookmark-o"></i> pre-invoice </a>
						</li>
						<li>
							<a href="{% url 'fvlist' %}">
							<i class="fa fa-user"></i> final-invoice </a>
						</li>
					</ul>
				</li>
				<li class="classic-menu-dropdown" id="nav-peelfield">
					<a data-toggle="dropdown" href="javascript:;">
					<i class="fa fa-tasks"></i>
					Peelfield <i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu pull-left">
						<li>
							<a href="{% url 'pclassify' %}">
							<i class="fa fa-bookmark-o"></i>classify show </a>
						</li>
						<li>
							<a href="{% url 'plist' %}">
							<i class="fa fa-user"></i> Pre Dressing</a>
						</li>
					</ul>
				</li>
				<li class="classic-menu-dropdown" id="nav-shipping">
					<a data-toggle="dropdown" href="javascript:;">
					<i class="fa fa-tasks"></i>
					Shiping Instruction <i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu pull-left">
						<li>
							<a href="{% url 'unshipped_list' %}">
							<i class="fa fa-bookmark-o"></i>unshipped invoice</a>
						</li>
						<li>
							<a href="{% url 'ship_list' %}">
							<i class="fa fa-user"></i>ship list </a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- END HORIZANTAL MENU -->
		<!-- BEGIN HEADER SEARCH BOX -->
 
	<!--	<form class="search-form" action="" method="GET">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search..." name="query">
				<span class="input-group-btn">
				<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
				</span>
			</div>
		</form>-->
		<!-- END HEADER SEARCH BOX -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown dropdown-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<span class="username username-hide-on-mobile">
					current user:{{user.username}} </span>
					<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="">
							<i class="icon-user"></i>change password</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="{% url 'logout'%}">
							<i class="icon-key"></i> Log Out </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
				<!-- BEGIN QUICK SIDEBAR TOGGLER -->
				<li class="dropdown dropdown-quick-sidebar-toggler">
					<a href="javascript:;" class="dropdown-toggle">
					<i class="icon-logout"></i>
					</a>
				</li>
				<!-- END QUICK SIDEBAR TOGGLER -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
		<!--	<h3 class="page-title">
			Home Page 
			</h3>-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="{% url 'clist' %}">Home Page</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
                        <i class="fa fa-gift"></i>
						<a href="#">Product List</a>
					</li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row margin-bottom-20">
            {% block content %}{% endblock %}
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{% block footer_block %}
{% endblock %}
<div class="page-footer">
	<div class="page-footer-inner">
		 2015 &copy; Website by jannel.
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
<!-- END FOOTER -->
 

<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../assets/plugins/respond.min.js"></script>
<script src="../assets/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="/static/assets/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/jquery.form.js" type="text/javascript"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.js" type="text/javascript"></script>
<script src="/static/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<script src="/static/assets/scripts/metronic.js" type="text/javascript"></script>
<script src="/static/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>


<script>
    jQuery(document).ready(function() {    
       	Metronic.init(); // init metronic core components
		Layout.init(); // init current layout
		//FormWizard.init();
        $("#nav-{%block navname%}{%endblock%}").toggleClass("active");
    });
  </script>
<!-- END JAVASCRIPTS -->
{% block footer_js %}
{% endblock %}
</body>

<!-- END BODY -->
</html>
