
{% for field in cform %}
    {% if modify == "true" and field.name = "lot" %}
    <div class="tab-pane active" id="tab1">
        <div class="form-group">
            <label class="col-sm-2 control-label">Lot</label>
            <div class="col-sm-10">
                <input id="id_lot" maxlength="20" name="lot" type="text" value="{{field.value}}" class="form-control" readonly>
            </div>
        </div>
    </div>
    {% else %}
        <div class="tab-pane active" id="tab2">
        <div class="form-group{% if field.errors %} error{% endif %}">
            <label class="col-sm-2 control-label">{{field.label}}</label>
            <div class="col-sm-10 controls">
              {{field}}
              {% if field.errors%}
                {% for error in field.errors%}
                  <span class="help-inline">{{error}}<span>
                {% endfor %}
              {% else %}
                  <span class="help-inline">{{field.help_text|safe}}<span>
              {% endif %}
            </div>
        </div>
        </div>
    {% endif %}
{% endfor %}