
{% extends "auctionweb/layout.html" %}

{% block header_js %}
    <style>
        .ceTable{text-align:center}
    </style>
{% endblock%}
{% block content %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>
            Product List
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="display" id="lotTable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width:100px;text-align:center"><span>生成发票</span></th>
                    <th><span>品种</span></th>
                    <th><span>性别</span></th>
                    <th><span>LOT号</span></th>
                    <th><span>客户编号</span></th>
                    <th><span>尺码</span></th>
                    <th><span>等级</span></th>
                    <th><span>颜色</span></th>
                    <th><span>清晰度</span></th>
                    <th><span>数量</span></th>
                    <th><span>敲锤价</span></th>
                    <th><span>评估</span></th>
                    <th><span>备注</span></th>
                    <!--   <th><span>操作</span></th>-->
                </tr>
            </thead>
 <!--   <tbody>
        {% for comm in c_list %}
        <tr data-lotnu='{{comm.lot}}'>
            <td style="text-align:center"><input type="checkbox"/></td>
            <td>{{comm.types}}</td>
            <td>{{comm.sex}}</td>
            <td>{{comm.lot}}</td>
            <td>{{comm.customer_id}}</td>
            <td>{{comm.size}}</td>
            <td>{{comm.level}}</td>
            <td>{{comm.color}}</td>
            <td>{{comm.definition}}</td>
            <td>{{comm.number}}</td>
            <td>{{comm.final_price}}</td>
            <td>{{comm.evaluation}}</td>
            <td>{{comm.remarks}}</td>
            <td>
                 <a class="btn btn-mini btn-warning" style="color:#FFF;"
                     href="#">修改</a>
                 <a class="btn btn-mini btn-danger" style="color:#FFF;"
                     href="#">删除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    -->
        </table>
    </div>
</div>

{% endblock %}
<!-- Modal -->
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">填写初始汇率</h4>
      </div>
        <form class="form-horizontal" role="form" action="{% url 'cinvoice' %}" id="voaddForm"> 
          <div class="modal-body">
                <div class="form-body" style="padding-bottom:0px">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">初始汇率</label>
                        <div class="col-sm-9"> 
                            <input type="text" name="newRate" id="newRate" class="form-control" placeholder="must"/>
                        </div>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="invoiceSumit">Save and create invoice</button>
          </div>
        </form>
    </div>
  </div>
</div>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">备注信息</h4>
      </div>
      <div class="modal-body">
        <span class="comment"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        var lotTable = $("#lotTable").DataTable({
            "searching": true,
            //"info": false,
           // "paging": false,
            "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
            "oTableTools":{
             //   "sRowSelect": "multi",
                "aButtons":[
                    {
                        "sExtends": "text",
                        "sButtonText": "add lot",
                        "fnClick": function(nButton, oConfig, oFlash){
                            location.href="{% url 'cadd'%}"
                        }
                    },{
                        "sExtends": "text",
                        "sButtonText": "crate invoice",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = lotTable.row(".selected")
                            if(ott.length!=1){
                                alert("至少选择一列!")
                            }else{
                                var ott = lotTable.rows(".selected")
                                var lot_nu_arr = [];
                                var customer_id = []
                                $.each(ott.data(), function(i, n){
                                    lot_nu_arr.push(n.lot);
                                    customer_id.push(n.customer_id)
                                })
                                if ($.unique(customer_id).length!=1){
                                    alert("客户编号必须相同才能生成发票")
                                    return false
                                }
                                $("#myModal").modal();
                                $("#invoiceSumit").on("click", function(){
                                    var newRate = $("#newRate").val();
                                    if (!newRate){
                                        alert("初始汇率不能为空");
                                        return false
                                    }
                                    var post_data = {"all_lot_nu": lot_nu_arr, "new_rate": newRate, "customer_id":customer_id[0]};
                                    $.post("{% url 'cinvoice' %}", {data:JSON.stringify(post_data)}, function(data){
                                        if (!data.success){
                                            alert(data.error_message)
                                        }else{
                                            lotTable.row('.selected').remove().draw(false);
                                            lotTable.ajax.reload();
                                            $("#myModal").find("button[data-dismiss]").trigger("click")
                                        }
                                    })
                                })
                            }
                        }
                    },{
                        "sExtends": "text",
                        "sButtonText": "modify lot",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = lotTable.row(".selected")
                            if(ott.length!=1){
                                alert("请选择一列进行修改")
                            }else{
                                var lot_nu = ott.data().lot;
                                location.href="commodity/change/"+lot_nu+""
                            }
                        }
                    },{
                        "sExtends": "text",
                        "sButtonText": "del lot",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = lotTable.row(".selected")
                            if (ott.length<1){alert("至少选择一条数据删除!")}
                            else{
                                var ott = lotTable.rows(".selected")
                                var lot_nu_arr = [];
                                $.each(ott.data(), function(i, n){
                                    lot_nu_arr.push(n.lot);
                                })
                            }
                            $.post("{% url 'cdel' %}", {data:JSON.stringify(lot_nu_arr)}, function(data){
                                if (data.success){
                                    lotTable.row('.selected').remove().draw(false);
                                }
                            })
                        }
                    }
                ]
            },
            "ajaxSource":"{% url 'ajax_list' %}",
            "columns":[
                {"data": null, "className": "ceTable", "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                    element = $(nTd).empty();
                    element.append("<input type='checkbox' name='checkList' />");
                }},
                {"data": "types"},
                {"data": "sex"},
                {"data": "lot"},
                {"data": "customer_id"},
                {"data": "size"},
                {"data": "level"},
                {"data": "color"},
                {"data": "definition"},
                {"data": "number"},
                {"data": "final_price"},
                {"data": "evaluation"},
                {"data": "remarks", "fnCreatedCell": function(nTd, sData, oData, iRow, iCol){
                    element = $(nTd).empty();
                    lookBtn = $("<input type='button' class='btn btn-sm btn-success' value='查看'/>").on("click", function(){
                        var comment = oData["remarks"];
                        $("#commentModal .comment").text(comment)
                        $("#commentModal").modal();
                    })
                    element.append(lookBtn)
                }},
            ]
        })
        // 根据checkbox 选中列
        $("#lotTable tbody").on('click','tr input[name="checkList"]',function(){
            var $tr =$(this).parents('tr');
            $tr.toggleClass('selected');
        })
    </script>
{% endblock %}
{% block navname %}commodity{% endblock %}

