{% extends "auctionweb/layout.html" %}
{% block current %}
    <li> 
        <i class="fa fa-gift"></i>
        <a href="javascript:0">List</a>
    </li>
{% endblock %}
{% block header_js %}
    <style>
        .ceTable{text-align:center}
        .select-body{margin:10px 0px -13px}
    </style>
{% endblock%}
{% block content %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>
            LOT LIST
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="select-body">
            <label>Choose auction</label>
            <select name="auction" id="auction" style="margin-bottom:8px;width:200px">
                {% for auction in auctions %}
                    {% if forloop.first %}
                    <option value="{{auction.pk}}" data-dollar="{{auction.is_dollar}}" selected>{{auction.name}}</option>
                    {% else %}
                    <option value="{{auction.pk}}" data-dollar="{{auction.is_dollar}}">{{auction.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <hr>
        <table class="display" id="lotTable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width:100px;text-align:center"><span>选择</span></th>
                    <th>EVENT</>
                    <th><span>TYPE</span></th>
                    <th><span>SEX</span></th>
                    <th><span>LOT</span></th>
                    <th><span>CUS ID</span></th>
                    <th><span>SIZE</span></th>
                    <th><span>GRADE</span></th>
                    <th><span>COLOR</span></th>
                    <th><span>CLARITY</span></th>
                    <th><span>QUENTITY</span></th>
                    <th><span>HAM.PRICE</span></th>
                    <th><span>DISCRIPTION</span></th>
                    <th><span>REMARK</span></th>
                    <!--   <th><span>操作</span></th>-->
                </tr>
            </thead>
 <!--   <tbody>
        {% for comm in c_list %}
        <tr data-lotnu='{{comm.lot}}'>
            <td style="text-align:center"><input type="checkbox"/></td>
            <td>{{comm.types}}</td>
            <td>{{comm.sex}}</td>
            <td>{{comm.lot}}</td>
            <td>{{comm.customer_id}}</td>
            <td>{{comm.size}}</td>
            <td>{{comm.level}}</td>
            <td>{{comm.color}}</td>
            <td>{{comm.definition}}</td>
            <td>{{comm.number}}</td>
            <td>{{comm.final_price}}</td>
            <td>{{comm.evaluation}}</td>
            <td>{{comm.remarks}}</td>
            <td>
                 <a class="btn btn-mini btn-warning" style="color:#FFF;"
                     href="#">修改</a>
                 <a class="btn btn-mini btn-danger" style="color:#FFF;"
                     href="#">删除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    -->
        </table>
    </div>
</div>

{% endblock %}
<!-- Modal -->
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">填写初始汇率</h4>
      </div>
        <form class="form-horizontal" role="form" action="{% url 'cinvoice' %}" id="voaddForm"> 
          <div class="modal-body">
                <div class="form-body" style="padding-bottom:0px">
                    <div class="form-group" id="beginRate">
                        <label class="col-sm-3 control-label">初始汇率</label>
                        <div class="col-sm-9"> 
                            <input type="text" name="newRate"  id="newRate" class="form-control" value="{{begin_rate}}" placeholder="must" require/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">佣金比例</label>
                        <div class="col-sm-9"> 
                            <input type="text" name="com_rate" id="comRate" class="form-control" value="{{com_rate}}" placeholder="must" require/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">美金对人民币汇率</label>
                        <div class="col-sm-9"> 
                            <input type="text" name="an_rmb_rate" id="anRmbRate" class="form-control" value="{{an_rmb_rate}}" require  placeholder="must"/>
                        </div>
                    </div>
                    <div style="margin-left:150px">
                        <span class="help-inline" style="display:none;color:red" id="warning">美元兑人民币汇率和佣金比例都不能为空</span>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="invoiceSumit">Save and create invoice</button>
          </div>
        </form>
    </div>
  </div>
</div>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">备注信息</h4>
      </div>
      <div class="modal-body">
        <span class="comment"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        function drawTable(auction_id){
            var lotTable = $("#lotTable").DataTable({
                "searching": true,
                //"info": false,
               // "paging": false,
                "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
                "oTableTools":{
                 //   "sRowSelect": "multi",
                    "aButtons":[
                        {
                            "sExtends": "text",
                            "sButtonText": "create",
                            "fnClick": function(nButton, oConfig, oFlash){
                                location.href="/commodity/add/"+auction_id+""
                            }
                        },{
                            "sExtends": "text",
                            "sButtonText": "create preinvoice",
                            "fnClick": function(nButton, oConfig, oFlash){
                                console.log($('#auction option:selected').attr("data-dollar"))
                                var auction_is_dollar = $('#auction option:selected').attr("data-dollar");
                                if (auction_is_dollar == "True"){
                                    $("#beginRate").css("display", "none")
                                }else{
                                    $("#beginRate").css("display", "block")
                                }
                                var ott = lotTable.row(".selected")
                                if(ott.length!=1){
                                    alert("至少选择一列!")
                                }else{
                                    var ott = lotTable.rows(".selected")
                                    var lot_nu_arr = [];
                                    var customer_id = []
                                    $.each(ott.data(), function(i, n){
                                        lot_nu_arr.push(n.lot);
                                        customer_id.push(n.customer_id)
                                    })
                                    if ($.unique(customer_id).length!=1){
                                        alert("客户编号必须相同才能生成发票")
                                        return false
                                    }
                                    $("#myModal").modal();
                                    $("#invoiceSumit").on("click", function(){
                                        var newRate = $("#newRate").val();
                                        var comRate = $("#comRate").val();
                                        var an_rmb_rate = $("#anRmbRate").val();
                                        if (!comRate || !an_rmb_rate){
                                            $("#warning").css("display", "block");
                                            return false
                                        }
                                        var post_data = {
                                            "all_lot_nu": lot_nu_arr, 
                                            "begin_exchange_rate": newRate, 
                                            "customer_id":customer_id[0],
                                            "commission_rate": comRate,
                                            "an_rmb_rate": an_rmb_rate
                                            }
                                        $.post("{% url 'cinvoice' %}", {data:JSON.stringify(post_data),"csrfmiddlewaretoken": $("{%csrf_token%}").val()},
                                            function(data){
                                            if (!data.success){
                                                alert(data.error_message)
                                            }else{
                                                lotTable.row('.selected').remove().draw(false);
                                                lotTable.ajax.reload();
                                                $("#myModal").find("button[data-dismiss]").trigger("click")
                                            }
                                        })
                                    })
                                }
                            }
                        },{
                            "sExtends": "text",
                            "sButtonText": "modify",
                            "fnClick": function(nButton, oConfig, oFlash){
                                var ott = lotTable.row(".selected")
                                if(ott[0].length!=1){
                                    alert("请选择一列进行修改")
                                    return 
                                }else{
                                    var lot_nu = ott.data().id;
                                    location.href="commodity/change/"+lot_nu+""
                                }
                            }
                        },{
                            "sExtends": "text",
                            "sButtonText": "delete",
                            "fnClick": function(nButton, oConfig, oFlash){
                                var ott = lotTable.row(".selected")
                                if (ott.length<1){
                                    alert("至少选择一条数据删除!")
                                    return 
                                }else{
                                    var ott = lotTable.rows(".selected")
                                    var lot_nu_arr = [];
                                    $.each(ott.data(), function(i, n){
                                        lot_nu_arr.push(n.lot);
                                    })
                                }
                                $.post("{% url 'cdel' %}", {data:JSON.stringify(lot_nu_arr)}, function(data){
                                    if (data.success){
                                        lotTable.row('.selected').remove().draw(false);
                                    }
                                })
                            }
                        }
                    ]
                },
                "ajaxSource":"/commodity/ajaxlist/"+auction_id+"",
                "columns":[
                    {"data": null, "className": "ceTable", "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                        element = $(nTd).empty();
                        element.append("<input type='checkbox' name='checkList' />");
                    }},
                    {"data": "auction_event"},
                    {"data": "types"},
                    {"data": "sex"},
                    {"data": "lot"},
                    {"data": "customer_id"},
                    {"data": "size"},
                    {"data": "level"},
                    {"data": "color"},
                    {"data": "definition"},
                    {"data": "number"},
                    {"data": "final_price"},
                    {"data": "evaluation"},
                    {"data": "remarks", "fnCreatedCell": function(nTd, sData, oData, iRow, iCol){
                        element = $(nTd).empty();
                        lookBtn = $("<input type='button' class='btn btn-sm btn-success' value='查看'/>").on("click", function(){
                            var comment = oData["remarks"];
                            $("#commentModal .comment").text(comment)
                            $("#commentModal").modal();
                        })
                        element.append(lookBtn)
                    }},
                ]
            })
        }
        // 根据checkbox 选中列
        $("#lotTable").on('click','tr input[name="checkList"]',function(){
            var $tr =$(this).parents('tr');
            $tr.toggleClass('selected');
        })
        // 绑定select2到aution,初始化datatable.
        drawTable($("#auction").val())
        $("#auction").select2();
        $("#auction").on("change", function(){
            $("#lotTable").DataTable().destroy()
            drawTable($("#auction").val())
        })
    </script>
{% endblock %}
{% block navname %}commodity{% endblock %}

