        <div class="tab-pane" id="tab2">
            {% for field in cform %}
                 {% if field.name == "types" %}
                 <div class="form-group{% if field.errors %} error{% endif %}">
                    <label class="control-label col-md-3">{{field.label}} <span class="required">
                                                        * </span>
                    </label>
                    <div class="col-md-4">
                        <select id="id_types" name="types" style="width:409px">
                            {% for v in auc_varietys %}
                                {% if variety and variety == v.name %}
                                    <span><option selected>{{v.name}}</option></span>
                                {% else %}
                                    <span><option>{{v.name}}</option></span>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                 </div>
                 {% else %}
                 <div class="form-group{% if field.errors %} error{% endif %}">
                    <label class="control-label col-md-3">{{field.label}} <span class="required">
                                                        * </span>
                    </label>
                    <div class="col-md-4">
                        {{field}}
                        {% for error in field.errors %}
                        <span class="help-inline">
                               {{error}} </span>
                        {% endfor %}
                    </div>
                 </div>
                 {% endif %}
            {% endfor %}
        </div>
