
{% extends "auctionweb/layout.html" %}

{% block header_js %}
    <style>
        .ceTable{text-align:center}
    </style>
{% endblock%}
{% block content %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> classify
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-group accordion" id="accordion1">
            {% for peel in all_peelfield_obj %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
						<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_{{peel.id}}">
						削皮场:{{peel.name}} </a>
					</h4>
                </div>
                <div id="collapse_{{peel.id}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="peel{{peel.id}}" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th><span>品种</span></th>
                                    <th><span>性别</span></th>
                                    <th><span>LOT号</span></th>
                                    <th><span>客户编号</span></th>
                                    <th><span>尺码</span></th>
                                    <th><span>等级</span></th>
                                    <th><span>颜色</span></th>
                                    <th><span>清晰度</span></th>
                                    <th><span>数量</span></th>
                                    <th><span>敲锤价</span></th>
                                    <th><span>评估</span></th>
                                    <th><span>削皮指示</span></th>
                                    <th><span>备注</span></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
<!-- Modal -->
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">备注信息</h4>
      </div>
      <div class="modal-body">
        <span class="comment"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        function peeltable(peel_id, data){
             $("#peel"+peel_id).DataTable({
                "searching": false,
                "info": false,
                "paging": false,
                "data": data,
                "columns":[
                    {"data": "types"},
                    {"data": "sex"},
                    {"data": "lot"},
                    {"data": "customer_id"},
                    {"data": "size"},
                    {"data": "level"},
                    {"data": "color"},
                    {"data": "definition"},
                    {"data": "number"},
                    {"data": "final_price"},
                    {"data": "evaluation"},
                    {"data": "peel_inform"},
                    {"data": "remarks", "fnCreatedCell": function(nTd, sData, oData, iRow, iCol){
                        element = $(nTd).empty();
                        lookBtn = $("<input type='button' class='btn btn-sm btn-success' value='查看'/>").on("click", function(){
                            var comment = oData["remarks"];
                            $("#commentModal .comment").text(comment)
                            $("#commentModal").modal();
                        })
                        element.append(lookBtn)
                    }},
                ]
            })
       }
       $.getJSON("{% url 'cpdata' %}", function(data){
            $.each(data.data, function(i, n){
                console.log(i)
                peeltable(i, n)
            })
       })
       //绑定toggle事件
       $(".peelToggle").on("click", function(){
            $(this).next().toggle()
       })
    </script>
{% endblock %}
{% block navname %}peelfield{% endblock%}
