
{% extends "auctionweb/layout.html" %}

{% block header_js %}
    <style>
        .ceTable{text-align:center}
        .dataTables_wrapper{margin:20px}
    </style>
{% endblock%}
{% block content %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> classify
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-group accordion" id="accordion1">
            {% for peel in all_peelfield_obj %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
						<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_{{peel.id}}">
						削皮场:{{peel.name}} </a>
					</h4>
                </div>
                <div id="collapse_{{peel.id}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="peel{{peel.id}}" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th><span>lot</span></th>
                                    <th><span>客户ID</span></th>
                                    <th><span>拍卖会</span></th>
                                    <th><span>发票号</span></th>
                                    <th><span>削皮指示</span></th>
                                    <th><span>削皮费</span></th>
                                    <th><span>品种</span></th>
                                    <th><span>削皮等级</span></th>
                                    <th><span>是否签到</span></th>
                                    <th><span>削皮修改时间+次数</span></th>
                                    <th><span>下缸时间</span></th>
                                    <th><span>出缸时间</span></th>
                                    <th><span>发货时间</span></th>
                                    <th><span>状态</span></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
<!-- Modal -->
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">时间添加</h4>
      </div>
        <form class="form-horizontal" role="form" id="addPtimeForm"> 
          <div class="modal-body">
                <div class="form-body" style="padding-bottom:0px">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">下缸时间</label>
                        <div class="col-sm-9"> 
                            <input type="text" name="peel_time" id="peel_time" class="form-control" placeholder="must"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">出缸时间</label>
                        <div class="col-sm-9"> 
                            <input type="text" name="out_peel_time" id="out_peel_time" class="form-control"  placeholder="must"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">发货时间</label>
                        <div class="col-sm-9"> 
                            <input type="text" name="delivery_time" id="delivery_time" class="form-control" placeholder="must"/>
                        </div>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="invoiceSumit">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
    </div>
  </div>
</div>
<div class="modal fade" id="lotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">商品详细信息</h4>
      </div>
      <table style="margin-bottom:20px" class="display" id="lotTable" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th><span>品种</span></th>
            <th><span>性别</span></th>
            <th><span>LOT号</span></th>
            <th><span>客户编号</span></th>
            <th><span>数量</span></th>
            <th><span>敲锤价</span></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        $("#peel_time").datepicker({"dateFormat": "yy-mm-dd"})
        $("#out_peel_time").datepicker({"dateFormat": "yy-mm-dd"})
        $("#delivery_time").datepicker({"dateFormat": "yy-mm-dd"});
        var peel_tabs = {};
        function get_invoice_lot(invoice_id){
            var lotTable = $("#lotTable").DataTable({
                "searching": false,
                "info": false,
                "paging": false,
             //   "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
                "ajaxSource":"/invoice/inlot/"+invoice_id+"/",
                "columns":[
                      {"data": "types"},
                      {"data": "sex"},
                      {"data": "lot"},
                      {"data": "customer_id"},
                      {"data": "number"},
                      {"data": "final_price"},
                   ]
            })
        };
        function peeltable(peel_id, list_data){
             peel_tabs["peel"+peel_id] = $("#peel"+peel_id).DataTable({
                "searching": false,
                "info": false,
                "paging": false,
                "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
                "data": list_data,
                "oTableTools":{
                    "sRowSelect": "single",
                    "aButtons":[
                        {
                            "sExtends": "text",
                            "sButtonText": "add time",
                            "fnClick": function(nButton, oConfig, oFlash){
                                var ott = TableTools.fnGetInstance("peel"+peel_id);
                                var selectAtrs = ott.fnGetSelectedData();
                                if(selectAtrs.length<1){
                                    alert("至少选择一行进行操作")
                                    return 
                                }
                                if (selectAtrs[0].peel_time_flag==0){
                                    alert("未签到不能添加削皮时间")
                                    return
                                }
                                var com_id = selectAtrs[0].id;
                                $("#addPtimeForm").ajaxForm({
                                    type: "post",
                                    url: "/commodity/add/peeltime/"+com_id+"/",
                                    data: {"csrfmiddlewaretoken": $("{%csrf_token%}").val()},
                                    success: function(data){
                                        if(data.success){
                                            var url_str = "{% url 'cpdata' %}?peel_id="+peel_id+"";
                                            peel_tabs["peel"+peel_id].ajax.url(url_str).load();
                                            $("#timeModal").find("button[data-dismiss]").trigger("click")
                                        }else{
                                            alert("failed!!!")
                                        }
                                    }
                                })
                                $("#timeModal").modal();
                            }
                        },{
                            "sExtends": "text",
                            "sButtonText": "view",
                            "fnClick": function(nButton, oConfig, oFlash){
                                var ott = TableTools.fnGetInstance("peel"+peel_id);
                                var selectAtrs = ott.fnGetSelectedData();
                                if(selectAtrs.length!=1){
                                    alert("请选择一行进行操作")
                                    return 
                                }
                                var com_id = selectAtrs[0].id;
                                $("#lotTable").DataTable().destroy();
                                get_invoice_lot(com_id);
                                $("#lotModal").modal()
                            }
                        }
                      ]
                 },
                "columns":[
                    {"data": "lot"},
                    {"data": "customer_id"},
                    {"data": "auction"},
                    {"data": "invoice"},
                    {"data": "peel_inform"},
                    {"data": "peel_price"},
                    {"data": "types"},
                    {"data": "peel_level"},
                    {"data": "peel_time_flag"},
                    {"data": "peel_mo_time", "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                        var element = $(nTd).empty();
                        var modify_num = oData["peel_mo_num"];
                        var modify_times = oData["peel_mo_time"];
                        if (modify_num && modify_times){
                            element.append("<span>"+modify_num+"+"+modify_times+"</span>")
                        }else{
                            return ''
                        }
                    }},
                    {"data": "peel_time"},
                    {"data": "out_peel_time"},
                    {"data": "delivery_time"},
                    {"data": "peel_status"},
                ]
            })
       }
       function init_data(){
           $.getJSON("{% url 'cpdata' %}", function(data){
                $.each(data.data, function(i, n){
                    console.log(i)
                    peeltable(i, n)
                })
           })
       }
       init_data()
       //绑定toggle事件
       $(".peelToggle").on("click", function(){
            $(this).next().toggle()
       })
    </script>
{% endblock %}
{% block navname %}peelfield{% endblock%}
