
{% extends "auctionweb/layout.html" %}

{% block header_js %}
    <style>
        .ceTable{text-align:center}
        .dataTables_wrapper{margin:20px}
    </style>
{% endblock%}
{% block content %}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>
            Product List
        </div>
        <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
<table class="display" id="dressInvoice" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th><span>Invoice No</span></th>
            <th><span>Customer No</span></th>
            <th><span>品种</span></th>
            <th><span>数量</span></th>
            <th><span>状态</span></th>
        </tr>
    </thead>
</table>
        </div>
    </div>
{% endblock %}
<!-- Modal -->
{% block footer_block %}
<style>
.modal-backdrop{z-index:0;}
</style>
<div class="modal fade" id="paddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加削皮场</h4>
      </div>
      <div style="display:none;margin-left:20px" id="addPeelInform">
         <form class="" id="submit_form" method="POST" style="margin-top:20px">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="peel_field">削皮场</label>
                    </div>
                    <div class="col-md-6">
                        <select name="peel_field" id="peel_field" class="form-contorl">
                        {% for peel in peel_list %}
                            <option value="{{ peel.pk }}">{{ peel.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <label for="peel_inform">削皮指示</label>
                <select name="peel_inform" id="peel_inform" class="form-contorl">
                {% for peel_inform in peel_inform_list %}
                    <option value="{{ peel_inform.pk }}">{{ peel_inform.name }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="peel_level">削皮等级</label>
                <select name="peel_level" id="peel_level" class="form-contorl">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                </select>
                <label for="peel_time_flag">是否签到</label>
                <select name="peel_time_flag" id="peel_time_flag" class="form-contorl">
                    <option value="0">未签到</option>
                    <option value="1">已签到</option>
                </select>
            </div>
            <div class="form-group">
                <label for="peel_comment">备注</label>
                <textarea name="peel_comment"></textarea>
                <input type="submit" value="保存" class="btn btn-success" />
                <input type="button" value="取消" class="btn btn-default" id="cancel"/>
            </div>
         <hr>
         </form>
      </div>
      <table style="margin-bottom:20px" class="display" id="lotTable" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th><span>品种</span></th>
            <th><span>性别</span></th>
            <th><span>LOT号</span></th>
            <th><span>尺码</span></th>
            <th><span>等级</span></th>
            <th><span>颜色</span></th>
            <th><span>清晰度</span></th>
            <th><span>数量</span></th>
            <th><span>评估</span></th>
            <th><span>削皮指示</span></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        // 削皮场及削皮指示绑定select2
        $("select").select2({"width": '150px'});
        function drawTable(invoice_id){
            $("#submit_form").ajaxForm({
                url: "/peelfield/add/"+invoice_id+"/",
                data: {
                    "csrfmiddlewaretoken": $("{%csrf_token%}").val()
                },
                success: function(data){
                    if (data.success){
                        alert("create successfully!!!")
                        $("#paddModal").find("button[data-dismiss]").trigger("click")
                        dressInvoice.ajax.reload()
                    }else{
                        alert(data.error_message)
                    }
                }
            })
            var lotTable = $("#lotTable").DataTable({
                "searching": false,
                "paging": false,
                "info": false,
                "ajaxSource":"/invoice/inlot/"+invoice_id+"",
                "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
                "oTableTools":{
                    "sRowSelect": "multi",
                    "aButtons":[
                        {
                            "sExtends": "text",
                            "sButtonText": "add peel inform",
                            "fnClick": function(nButton, oConfig, oFlash){
                                var ott = TableTools.fnGetInstance("lotTable");
                                var selectAtrs = ott.fnGetSelectedData();
                                if (selectAtrs.length<1){
                                    alert("至少选择一行添加削皮指示");
                                    return 
                                }
                                $("#addPeelInform").css("display", "block")
                                var lot_id_arr = [];
                                $.each(selectAtrs, function(i, n){
                                    lot_id_arr.push(n.id)
                                    $("#submit_form").ajaxForm({
                                        url: "/peelfield/add/"+invoice_id+"/",
                                        data: {
                                            "csrfmiddlewaretoken": $("{%csrf_token%}").val(),
                                            "lot_id_arr": JSON.stringify(lot_id_arr)
                                        },
                                        success: function(data){
                                            if (data.success){
                                                lotTable.ajax.reload()
                                            }else{
                                                alert(data.error_message)
                                            }
                                        }
                                    })
                                })
                            }
                        }
                    ]
                },
                "columns":[
                    {"data": "types"},
                    {"data": "sex"},
                    {"data": "lot"},
                    {"data": "size"},
                    {"data": "level"},
                    {"data": "color"},
                    {"data": "definition"},
                    {"data": "number"},
                    {"data": "evaluation"},
                    {"data": "peel_inform"}
                ]
            })
        }
        var dressInvoice = $("#dressInvoice").DataTable({
            "searching": true,
            //"info": false,
           // "paging": false,
            "sDom": '<"toolsbar"><"H"TfrC>t<"F"ip>',
            "oTableTools":{
                "sRowSelect": "single",
                "aButtons":[
                    {
                        "sExtends": "text",
                        "sButtonText": "view",
                        "fnClick": function(nButton, oConfig, oFlash){
                            var ott = TableTools.fnGetInstance("dressInvoice");
                            var selectAtrs = ott.fnGetSelectedData();
                            if(selectAtrs.length!=1){
                                alert("选择一行进行操作")
                                return false
                            };
                            $("#paddModal").modal();
                            $("#lotTable").DataTable().destroy()
                            $("#addPeelInform").css("display", "none")
                            drawTable(selectAtrs[0].id);
                        }
                    }
                ]
            },
            "ajaxSource":"{% url 'pre_dress' %}",
            "columns":[
                {"data": "invoice_nu"},
                {"data": "customer_id"},
                {"data": "goods_type"},
                {"data": "goods_nu"},
                {"data": "status"},
            ]
        })
    </script>
{% endblock %}
{% block navname %}peelfield{% endblock%}
